# example env variables

SERVER_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=app_db

TRANSACTION_PROCESSING_FAILURE_RATE=0.2

RABBITMQ_URL=amqp://admin:admin@localhost:5672
PAYMENT_REQUEST_QUEUE_NAME=payment.request
PAYMENT_RESULT_QUEUE_NAME=payment.result
